.dashboard {
  @apply grid;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer main main";
  --header-height: 56px;
  --footer-height: 56px;

  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);

  .header {
    grid-area: header;
    @apply border-b border-b-slate-6 sticky top-0 backdrop-blur;
    @apply flex items-center px-4;
  }

  .sidebar {
    grid-area: sidebar;
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--footer-height));
    @apply border-r border-r-slate-6 sticky px-4 py-4 overflow-auto;
  }

  .main {
    grid-area: main;
    @apply p-4;
  }

  .footer {
    grid-area: footer;
    @apply border-t border-slate-6 sticky bottom-0 border-r px-4 py-2;
  }
}
